@import "tailwindcss";

@font-face {
    font-family: "Placard";
    src: url(assets/PlacardNextRegular.TTF);
}
@font-face {
    font-family: "GTSuper";
    src: url(assets/Gloock-Regular.ttf)
}
@font-face {
    font-family: "Satoshi";
    src: url(assets/66aa728085dec3390cb7f058_Satoshi-Variable.ttf)
}
@theme{
    --font-Placard : "Placard";
    --font-GTSuper : "GTSuper";
    --font-Satoshi : "Satoshi";
}
::-webkit-scrollbar{
    display: none;
    /* background-color: #c3f3fa; */
}